<%= provide(:services,"active") %>
<%= provide(:title,"Servicios") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-left text-primary">
        Implantes Dentales
      </h2><img alt="implantes" src="<%= asset_path("implantes.jpg") %>" class="img-responsive" alt="Responsive image"/>
      <blockquote>
        <p class="text-justify">
          El implante dental, es un producto sanitario diseñado para sustituir la raíz que falta y mantener el diente artificial en su sitio. Habitualmente tiene forma roscada y está fabricado con materiales biocompatibles que no producen reacción de rechazo y permiten su unión al hueso. La superficie del implante puede presentar diferentes texturas y recubrimientos, utilizadas habitualmente para aumentar su adhesión al hueso (osteointegración si es de titanio y biointegración si se trata de un material cerámico).<br><br>

          Al reponer los dientes perdidos por medio de implantes se conserva mayor cantidad de hueso alveolar ya que este se reabsorbe al no recibir ningún tipo de estímulo.<br><br>

          La investigación clínica ha llevado a un nuevo tipo de implante denominado transcigomático, que permite un aprovechamiento máximo del hueso. Se trata de implantes en la zona del pómulo (hueso cigomático), cuyo volumen no se ve afectado por la pérdida dental, como sucede habitualmente con los huesos maxilares que pueden atrofiarse. Esta técnica permite tratar a pacientes con poco hueso en la zona sin utilizar prácticas más agresivas y de peor pronóstico como los injertos óseos.
        </p>
      </blockquote>
      
    </div>
    <div class="col-md-4 lista_tratamientos_serv">

    <h3 class="text-left text-primary">Nuestros tratamientos</h3>

    <ul>
       <li >
        <%= link_to 'Rehabilitacion', rehabilitacion_path%>
      </li>
      <li >
        <%= link_to 'Ortodoncia', ortodoncia_path%>
      </li>
      <li >
        <%= link_to 'Endodoncia', endodoncia_path%>
      </li>
      <li >
        <%= link_to 'Estetica', estetica_path%>
      </li>
      <li >
        <%= link_to 'Cirugia', cirugia_path%>
      </li>
      <li >
        <%= link_to 'Periodoncia', periodoncia_path%>
      </li>
      <li >
        <%= link_to 'Implantes', implantes_path%>
      </li>
    </ul>

    </div>
  </div>
</div>