<%= provide(:services,"active") %>
<%= provide(:title,"Servicios") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-left text-primary">
        Periodoncia
      </h2><img alt="periodoncia" src="<%= asset_path("periodoncia.jpg") %>" class="img-responsive" alt="Responsive image"/>
      <blockquote>
        <p class="text-justify text-primary">
          La periodoncia es la especialidad de la odontología que estudia la prevención, diagnóstico y tratamiento de las enfermedades o anomalías que afectan a los tejidos que soportan los dientes.
        </p>
      
      
        <p class="text-justify">
        Las principales enfermedades periodontales que afectan a una dentición son la periodontitis y gingivitis.<br><br>

        Hoy en día con el advenimiento de la implantología la periodoncia también es la encargada de la prevención y tratamiento de las enfermedades periimplantares como la periimplantitis.<br><br>

        La enfermedad periodontal se manifiesta como una gingivitis (inflamación y sangrado de la encía sin afectar el hueso) o periodontitis, donde ocurre la destrucción del hueso que soporta el diente. Si no es tratado a tiempo puede ocasionar la pérdida de los dientes.<br><br>

        Un tratamiento periodontal consiste desde la corrección de la técnica de higiene para el control de la placa bacteriana, hasta la eliminación de los factores desencadenantes de la misma (cálculos dentarios o sarro y bolsas periodontales).<br><br>

        </p>
        </blockquote>
      </ul>
      <br><br>
    </div>
    <div class="col-md-4 lista_tratamientos_serv">

    <h3 class="text-left text-primary">Nuestros tratamientos</h3>

    <ul>
       <li >
        <%= link_to 'Rehabilitacion', rehabilitacion_path%>
      </li>
      <li >
        <%= link_to 'Ortodoncia', ortodoncia_path%>
      </li>
      <li >
        <%= link_to 'Endodoncia', endodoncia_path%>
      </li>
      <li >
        <%= link_to 'Estetica', estetica_path%>
      </li>
      <li >
        <%= link_to 'Cirugia', cirugia_path%>
      </li>
      <li >
        <%= link_to 'Periodoncia', periodoncia_path%>
      </li>
      <li >
        <%= link_to 'Implantes', implantes_path%>
      </li>
    </ul>

    </div>
  </div>
</div>