<%= provide(:title,"Servicios") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-left text-primary">
        Rehabilitación dental
      </h2><img alt="rehabilitacion" src="<%= asset_path("rehabilitacion.jpg") %>" class="img-responsive" alt="Responsive image"/>
      <blockquote>
        <p class="text-justify">
          La rehabilitación oral es la parte de la Odontología encargada de la restauración es decir devuelve la función estética y armonía oral mediante prótesis dentales de perdidas de dientes, grandes destrucciones o de solucionar problemas estéticos, siempre buscando una oclusión y función correcta.<br><br>

La rehabilitación oral es una especialidad dentro de la odontología que combina en forma integral las áreas de prótesis fija, prótesis removible, operatoria, oclusión e Implante dental, que realiza el diagnóstico y plan de tratamiento adecuado al paciente de alta complejidad que requiere recuperar su salud bucal a través de las técnicas más modernas de rehabilitación. A su vez, establece estrecha relación con las demás disciplinas de la odontología, como periodoncia, endodoncia y ortodoncia.<br><br>

Mediante las técnicas actuales de odontología se consigue hacer dichas rehabilitaciones mediante prótesis fijas sobre dientes o Implantes dentales en más del 95% los pacientes, con lo que se evita la utilización de prótesis removibles que siempre son incómodas y en muchos casos imposibles de soportar.<br><br>

Las prótesis reemplazan piezas dentales ausentes y pueden quitarse y volver a colocarse en la boca. Si bien a algunas personas les lleva cierto tiempo acostumbrarse a su uso y nunca la sienten exactamente como a la propia dentadura, las prótesis actuales tienen un aspecto muy natural y se toleran mejor que en el pasado.<br><br>

Hay rehabilitaciones en los dientes, sobre la encía o sobre los implantes. Actualmente es muy utilizado en la rehabilitación oral el material que se denomina zirconio.
        </p>
      </blockquote>
      <h2 class="text-left text-primary">
        Tipos de prótesis dentales
      </h2>
      <blockquote>
      <ul>
        <li>
            SPrótesis Fijas: se sujetan a los dientes restantes en la boca o a implantes, se desgastan los dientes en su corona para recibir una corona protésica que puede ir en diferentes materiales ( Solo metal, metal y porcelana, todo porcelana, acrílico y otros).

        </li><br>
        <li>
            Prótesis removibles: se pueden quitar de la boca, según el caso tienen una base o estructura (metálica o acrílica)en la cual se acondicionan unos ganchos o aditamentos que sostienen la prótesis de los dientes, los dientes pueden ser elaborados en porcelana o en acrílico.
        </li><br>
        <li>
            Prótesis totales: se utilizan cuando no existen dientes en los maxilares, Son elaboradas en acrílico de termo curado. Es Importante primero acondicionar los tejidos que reciben estas prótesis para que tengan mejor adaptación cuando no hay suficiente hueso, es necesario primero algún tipo de cirugía reconstructora o la fijación de implantes para que la prótesis tenga mejor retención.
        </li>
        
      </ul>
      </blockquote>
      <br><br>
    </div>
    <div class="col-md-4 lista_tratamientos_serv" >

    <h3 class="text-left text-primary" >Nuestros tratamientos</h3>

    <ul class="lista_tratamientos_serv">
       <li >
        <%= link_to 'Rehabilitacion', rehabilitacion_path%>
      </li>
      <li >
        <%= link_to 'Ortodoncia', ortodoncia_path%>
      </li>
      <li >
        <%= link_to 'Endodoncia', endodoncia_path%>
      </li>
      <li >
        <%= link_to 'Estetica', estetica_path%>
      </li>
      <li >
        <%= link_to 'Cirugia', cirugia_path%>
      </li>
      <li >
        <%= link_to 'Periodoncia', periodoncia_path%>
      </li>
      <li >
        <%= link_to 'Implantes', implantes_path%>
      </li>
    </ul>

    </div>
  </div>
</div>
