<%= provide(:services,"active") %>
<%= provide(:title,"Servicios") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-left text-primary">
        Cirugía Dental
      </h2><img alt="cirugia" src="<%= asset_path("cirugia.jpg") %>" class="img-responsive" alt="Responsive image"/>
      <blockquote>
        <p class="text-justify">
           La cirugía bucal es la más antigua especialidad reconocida de la odontología y como parte de ella le concierne el diagnostico y el tratamiento quirúrgico de las enfermedades, anomalías y lesiones de los dientes, de la boca, los maxilares y de sus tejidos contiguos.<br><br>

La Cirugía Oral y Maxilofacial es la especialidad médica que incluye el diagnóstico y tratamiento quirúrgico de las enfermedades, traumatismos y malformaciones que involucran los aspectos funcionales y estéticos de los tejidos duros y blandos de la cabeza, boca, dientes, encías, mandíbula, maxilar y cuello. (Definición dada por la Asociación Internacional deCirugía Oral y Maxilofacial IAOMS).<br><br>

También puede ser definida como la especialidad médico-quirúrgica que se ocupa de la prevención, estudio, diagnóstico, tratamiento y rehabilitación de las patologías bucales y faciales, así como de las estructuras cervicales relacionadas directa o indirectamente con la misma. Se podría definir al cirujano maxilofacial como el cirujano de cabeza y cuello, con una formación extensa y específica en la cara, no limitándose a la estética o reconstrucción.<br><br>

Por ejemplo, si el paciente presenta crecimiento desigual de mandíbula, esto puede llevarle a experimentar dificultades a la hora de comer, tragar, hablar o respirar. Aunque la mayoría de estos casos se pueden tratar con frenillos u otras técnicas odontológicas, los casos más severos deberán ser tratados por medio de una cirugía dental para poder acomodar a la mandíbula superior e inferior (o ambas) hacía una posición más funcional y saludable.
        </p>
      </blockquote>
      
    </div>
    <div class="col-md-4  lista_tratamientos_serv">

    <h3 class="text-left text-primary">Nuestros tratamientos</h3>

    <ul>
      <li >
        <%= link_to 'Rehabilitacion', rehabilitacion_path%>
      </li>
      <li >
        <%= link_to 'Ortodoncia', ortodoncia_path%>
      </li>
      <li >
        <%= link_to 'Endodoncia', endodoncia_path%>
      </li>
      <li >
        <%= link_to 'Estetica', estetica_path%>
      </li>
      <li >
        <%= link_to 'Cirugia', cirugia_path%>
      </li>
      <li >
        <%= link_to 'Periodoncia', periodoncia_path%>
      </li>
      <li >
        <%= link_to 'Implantes', implantes_path%>
      </li>
    </ul>

    </div>
  </div>
</div>