<h2 class="col-md-offset-4">Datos del tratamiento</h2>
<p class="col-md-offset-4" id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <p>
        <strong>Nombre:</strong>
        <%= @treatment.nombre %>
      </p>

      <p>
        <strong>Descripción:</strong>
        <%= @treatment.descripcion %>
      </p>

      <p>
        <strong>Costo:</strong>
        <%= @treatment.costo %>
      </p>
<% if can? :update, @patients %>
    <%= link_to 'Editar', edit_treatment_path(@treatment) %> |
  <% end %>
<%= link_to 'Atras', treatments_path %>
</div>
</div>
</div>