<p id="notice"><%= notice %></p>

<h2 class="col-md-offset-5">Listado de Cargos</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Sueldo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.nombre %></td>
        <td><%= position.descripcion %></td>
        <td><%= position.sueldo %></td>
        <td><%= link_to 'mostrar', position %></td>
        <td><%= link_to 'Editar', edit_position_path(position) %></td>
        <td><%= link_to 'Eliminar', position, method: :delete, data: { confirm: 'Esta usted seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'Nuevo Cargo', new_position_path  ,:class =>'btn btn-primary'%>
<%= link_to "Exportar a Excel", positions_path(format: "xls"),:class =>'btn btn-success' %>
<%= link_to "Exportar a CSV", positions_path(format: "csv"),:class =>'btn btn-success' %>
</div>