
<h2 class="col-md-offset-4">Datos del cargo</h2>
<p class="col-md-offset-4"id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
<p>
  <strong>Nombre:</strong>
  <%= @position.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @position.descripcion %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @position.sueldo %>
</p>
<% if can? :update, @position %>
    <%= link_to 'Editar', edit_position_path(@position) %> |
  <% end %>

<%= link_to 'Atras', positions_path %>
</div>
</div>
</div>