
<!-- <p id="notice"><%= notice %></p>
 -->
 <h2 class="col-md-offset-5 text-primary">Lista de Encuentros odontologicos</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Odontologo</th>
      <th>Cita</th>
      <th>Grupo</th>
      <th>Obs dental</th>
      <th>Causa</th>
      <th>Finalidad</th>
      <th>Dx principal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.patient %></td>
        <td><%= procedure.feccreacion %></td>
        <td><%= procedure.horacreacion %></td>
        <td><%= procedure.employee %></td>
        <td><%= procedure.appointment %></td>
        <td><%= procedure.grupo %></td>
        <td><%= procedure.obsdental %></td>
        <td><%= procedure.causaexterna %></td>
        <td><%= procedure.finalidad %></td>
        <td><%= procedure.dxprincipal %></td>
        <td><%= link_to 'Mostrar', procedure %></td>
        <td><%= link_to 'Editar', edit_procedure_path(procedure) %></td>
        <td><%= link_to 'Eliminar', procedure, method: :delete, data: { confirm: 'esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div></div>

<%= link_to 'Nuevo Encuentro Odontologico', new_procedure_path %>
</div>