<!-- <p id="notice"><%= notice %></p>
 -->
<p>
  <strong>Patient:</strong>
  <%= @procedure.patient %>
</p>

<p>
  <strong>Feccreacion:</strong>
  <%= @procedure.feccreacion %>
</p>

<p>
  <strong>Horacreacion:</strong>
  <%= @procedure.horacreacion %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @procedure.employee %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @procedure.appointment %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @procedure.grupo %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @procedure.tratamiento %>
</p>

<p>
  <strong>Medicamentos:</strong>
  <%= @procedure.medicamentos %>
</p>

<p>
  <strong>Alergias:</strong>
  <%= @procedure.alergias %>
</p>

<p>
  <strong>Hemorragias:</strong>
  <%= @procedure.hemorragias %>
</p>

<p>
  <strong>Irradiaciones:</strong>
  <%= @procedure.irradiaciones %>
</p>

<p>
  <strong>Sinusitis:</strong>
  <%= @procedure.sinusitis %>
</p>

<p>
  <strong>Respiratorias:</strong>
  <%= @procedure.respiratorias %>
</p>

<p>
  <strong>Cardiopatias:</strong>
  <%= @procedure.cardiopatias %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @procedure.diabetes %>
</p>

<p>
  <strong>Fiebre:</strong>
  <%= @procedure.fiebre %>
</p>

<p>
  <strong>Hepatitis:</strong>
  <%= @procedure.hepatitis %>
</p>

<p>
  <strong>Hipertension:</strong>
  <%= @procedure.hipertension %>
</p>

<p>
  <strong>Otrasenfermedades:</strong>
  <%= @procedure.otrasenfermedades %>
</p>

<p>
  <strong>Cepillado:</strong>
  <%= @procedure.cepillado %>
</p>

<p>
  <strong>Hilo:</strong>
  <%= @procedure.hilo %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @procedure.otros %>
</p>

<p>
  <strong>Obsanamnesis:</strong>
  <%= @procedure.obsanamnesis %>
</p>

<p>
  <strong>Temperatura:</strong>
  <%= @procedure.temperatura %>
</p>

<p>
  <strong>Pulso:</strong>
  <%= @procedure.pulso %>
</p>

<p>
  <strong>Tension:</strong>
  <%= @procedure.tension %>
</p>

<p>
  <strong>Respiracion:</strong>
  <%= @procedure.respiracion %>
</p>

<p>
  <strong>Mandibula:</strong>
  <%= @procedure.mandibula %>
</p>

<p>
  <strong>Labios:</strong>
  <%= @procedure.labios %>
</p>

<p>
  <strong>Lengua:</strong>
  <%= @procedure.lengua %>
</p>

<p>
  <strong>Paladar:</strong>
  <%= @procedure.paladar %>
</p>

<p>
  <strong>Boca:</strong>
  <%= @procedure.boca %>
</p>

<p>
  <strong>Carrillos:</strong>
  <%= @procedure.carrillos %>
</p>

<p>
  <strong>Glandulas:</strong>
  <%= @procedure.glandulas %>
</p>

<p>
  <strong>Maxilares:</strong>
  <%= @procedure.maxilares %>
</p>

<p>
  <strong>Senosmaxilares:</strong>
  <%= @procedure.senosmaxilares %>
</p>

<p>
  <strong>Masticadores:</strong>
  <%= @procedure.masticadores %>
</p>

<p>
  <strong>Nervioso:</strong>
  <%= @procedure.nervioso %>
</p>

<p>
  <strong>Vascular:</strong>
  <%= @procedure.vascular %>
</p>

<p>
  <strong>Linfatico:</strong>
  <%= @procedure.linfatico %>
</p>

<p>
  <strong>Oclusion:</strong>
  <%= @procedure.oclusion %>
</p>

<p>
  <strong>Obsfisico:</strong>
  <%= @procedure.obsfisico %>
</p>

<p>
  <strong>Abrasion:</strong>
  <%= @procedure.abrasion %>
</p>

<p>
  <strong>Placacalificada:</strong>
  <%= @procedure.placacalificada %>
</p>

<p>
  <strong>Pulpar:</strong>
  <%= @procedure.pulpar %>
</p>

<p>
  <strong>Placablanda:</strong>
  <%= @procedure.placablanda %>
</p>

<p>
  <strong>Fluorosis:</strong>
  <%= @procedure.fluorosis %>
</p>

<p>
  <strong>Manchas:</strong>
  <%= @procedure.manchas %>
</p>

<p>
  <strong>Obsdental:</strong>
  <%= @procedure.obsdental %>
</p>

<p>
  <strong>Causaexterna:</strong>
  <%= @procedure.causaexterna %>
</p>

<p>
  <strong>Finalidad:</strong>
  <%= @procedure.finalidad %>
</p>

<p>
  <strong>Dxprincipal:</strong>
  <%= @procedure.dxprincipal %>
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>
