<!-- <p id="notice"><%= notice %></p>
 -->

 <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed">
        <!-- <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Product
            </th>
            <th>
              Payment Taken
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead> -->
        <tbody>
          
          <tr class="active">
            <td colspan="2">
              <p>
                <strong>Patient:</strong>
                <%= @procedure.patient %>
              </p>
            </td>
            <td>
              <p>
                <strong>Feccreacion:</strong>
                <%= @procedure.feccreacion %>
              </p>
            </td>
            <td>
              <p>
                <strong>Horacreacion:</strong>
                <%= @procedure.horacreacion %>
              </p>
            </td>
            
          </tr>
          <tr class="active">
            <td colspan="2">
              <p>
                <strong>Employee:</strong>
                <%= @procedure.employee %>
              </p>
            </td>
            <td>
              <p>
                <strong>Appointment:</strong>
                <%= @procedure.appointment %>
              </p>
            </td>
            <td>
              <p>
                <strong>Grupo:</strong>
                <%= @procedure.grupo %>
              </p>
            </td>
          </tr>
          <tr class="bg-primary">
            <td colspan="4"><h4>Amamesis</h4></td>
          </tr>
          <tr class="success">
            <td>
              <p>
                <strong>Tratamiento:</strong>
                <%= @procedure.tratamiento %>
              </p>  
            </td>
            <td>
              <p>
                <strong>Medicamentos:</strong>
                <%= @procedure.medicamentos %>
              </p>
            </td>
            <td>
              <p>
                <strong>Alergias:</strong>
                <%= @procedure.alergias %>
              </p>
            </td>
            <td>
              <p>
                <strong>Hemorragias:</strong>
                <%= @procedure.hemorragias %>
              </p>
            </td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Irradiaciones:</strong>
              <%= @procedure.irradiaciones %>
            </p></td>

            <td><p>
              <strong>Sinusitis:</strong>
              <%= @procedure.sinusitis %>
            </p></td>

            <td><p>
              <strong>Respiratorias:</strong>
              <%= @procedure.respiratorias %>
            </p></td>

            <td><p>
              <strong>Cardiopatias:</strong>
              <%= @procedure.cardiopatias %>
            </p></td>

          </tr>
          <tr class="success">
            <td><p>
              <strong>Diabetes:</strong>
              <%= @procedure.diabetes %>
            </p></td>

            <td><p>
              <strong>Fiebre:</strong>
              <%= @procedure.fiebre %>
            </p></td>

            <td><p>
              <strong>Hepatitis:</strong>
              <%= @procedure.hepatitis %>
            </p></td>

            <td><p>
              <strong>Hipertension:</strong>
              <%= @procedure.hipertension %>
            </p></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Otrasenfermedades:</strong>
              <%= @procedure.otrasenfermedades %>
            </p></td>

            <td><p>
              <strong>Cepillado:</strong>
              <%= @procedure.cepillado %>
            </p></td>

            <td><p>
              <strong>Hilo:</strong>
              <%= @procedure.hilo %>
            </p></td>

            <td><p>
              <strong>Otros:</strong>
              <%= @procedure.otros %>
            </p></td>
          </tr>
          <tr class="success">
            <td colspan="4">
              <p>
                <strong>Obsanamnesis:</strong>
                <%= @procedure.obsanamnesis %>
              </p>
            </td>
          </tr>
          <tr class="bg-primary">
            <td colspan="4"><h4>Examen Fisico Estomatologico</h4></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Temperatura:</strong>
              <%= @procedure.temperatura %>
            </p></td>

            <td><p>
              <strong>Pulso:</strong>
              <%= @procedure.pulso %>
            </p></td>

            <td><p>
              <strong>Tension:</strong>
              <%= @procedure.tension %>
            </p></td>

            <td><p>
              <strong>Respiracion:</strong>
              <%= @procedure.respiracion %>
            </p></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Mandibula:</strong>
              <%= @procedure.mandibula %>
            </p></td>

            <td><p>
              <strong>Labios:</strong>
              <%= @procedure.labios %>
            </p></td>

            <td><p>
              <strong>Lengua:</strong>
              <%= @procedure.lengua %>
            </p></td>

            <td><p>
              <strong>Paladar:</strong>
              <%= @procedure.paladar %>
            </p></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Boca:</strong>
              <%= @procedure.boca %>
            </p></td>

            <td><p>
              <strong>Carrillos:</strong>
              <%= @procedure.carrillos %>
            </p></td>

            <td><p>
              <strong>Glandulas:</strong>
              <%= @procedure.glandulas %>
            </p></td>

            <td><p>
              <strong>Maxilares:</strong>
              <%= @procedure.maxilares %>
            </p></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Senosmaxilares:</strong>
              <%= @procedure.senosmaxilares %>
            </p></td>

            <td><p>
              <strong>Masticadores:</strong>
              <%= @procedure.masticadores %>
            </p></td>

            <td><p>
              <strong>Nervioso:</strong>
              <%= @procedure.nervioso %>
            </p></td>

            <td><p>
              <strong>Vascular:</strong>
              <%= @procedure.vascular %>
            </p></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Linfatico:</strong>
              <%= @procedure.linfatico %>
            </p></td>

            <td><p>
              <strong>Oclusion:</strong>
              <%= @procedure.oclusion %>
            </p></td>

            <td colspan="2"><p>
              <strong>Obsfisico:</strong>
              <%= @procedure.obsfisico %>
            </p></td>
          </tr>
          <tr class="bg-primary">
            <td colspan="4"><h4>Examen Dental</h4></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Abrasion:</strong>
              <%= @procedure.abrasion %>
            </p></td>

            <td><p>
              <strong>Placacalificada:</strong>
              <%= @procedure.placacalificada %>
            </p></td>

            <td><p>
              <strong>Pulpar:</strong>
              <%= @procedure.pulpar %>
            </p></td>

            <td><p>
              <strong>Placablanda:</strong>
              <%= @procedure.placablanda %>
            </p></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Fluorosis:</strong>
              <%= @procedure.fluorosis %>
            </p></td>

            <td><p>
              <strong>Manchas:</strong>
              <%= @procedure.manchas %>
            </p></td>

            <td colspan="2"><p>
              <strong>Obsdental:</strong>
              <%= @procedure.obsdental %>
            </p></td>
          </tr>
          <tr class="success">
            <td><p>
              <strong>Causaexterna:</strong>
              <%= @procedure.causaexterna %>
            </p></td>

            <td><p>
              <strong>Finalidad:</strong>
              <%= @procedure.finalidad %>
            </p></td>

            <td colspan="2"><p>
              <strong>Dxprincipal:</strong>
              <%= @procedure.dxprincipal %>
            </p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_procedure_path(@procedure) %> |
<%= link_to 'Atras', procedures_path %>
<br><br><br>