<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | Clinica María Auxiliadora</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<header id="cabecera_index">
    <a href="/intranet/" id="enlace_login">Login</a>
</header>
<%= render 'shared/navbar' %>

<%= yield %>

<%= render 'shared/footer' %>
</body>
</html>